  <div class="container">
    <div class="content__text"
      @swipeInTrigger>
      <h4>Location</h4>
      <p>Tasik Villa International Resort, Lukut, Port Dickson, Malaysia</p>

      <div class="location">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3985.8273438577153!2d101.82013081496059!3d2.5629306981325595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cdee203cbd2a79%3A0x5da0631f46f63175!2sTasik+Villa+International+Resort!5e0!3m2!1sen!2smy!4v1559642136659!5m2!1sen!2smy"
          width="1000"
          height="450"
          frameborder="0"
          style="border:0"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
