.footer {
  color: #fff;
  display: block;
  width: 100%;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 50px 0px 100px 0px;
  border-top: none;
  background: linear-gradient(to bottom, rgba(#000, 0), rgba(#000, 0.1), rgba(#000, 0.4), rgba(#000, 0.8), rgba(#000, 1));
  height: 100px;

  .social-media {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;

    a {
      text-decoration: none;
      color: #fff;
      font-size: 2rem;
      margin-left: 20px;
      font-family: 'Rubik', sans-serif;

      &:first-of-type {
        margin-left: 0px;
      }
    }
  }

  .contacts {

    .email,
    .tel {
      color: #fff;

      a {
        display: inline;
        text-decoration: none;
        color: #fff;
        font-weight: 500;
        font-family: 'Rubik', sans-serif;
      }

      p {
        display: inline;
        margin: 0 10px 0 0;
        font-weight: 400;
        font-family: 'Rubik', sans-serif;
      }
    }
  }

  .links {
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;

    a {
      text-decoration: none;
      color: #fff;
      font-weight: 400;
      font-family: 'Rubik', sans-serif;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .card-logos {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    img {
      // max-width: 100px;

      margin-right: 10px;
    }

    .mastercard {
      width: auto;
      height: 40px;
    }

    .visa {
      width: auto;
      height: 20px;
    }
  }

  .copyright-block {
    padding: 10px 0;
  }
}
