<footer class="footer">
  <div class="container d-flex justify-content-around align-items-start">
    <div class="card-logos">
      <img src="assets/images/mastercard-logo.png"
        alt=""
        class="mastercard">
      <img src="assets/images/visa-logo.png"
        alt=""
        class="visa">
    </div>
    <div class="social-media">
      <a href=""><i class="fab fa-facebook"></i></a>
      <a href=""><i class="fab fa-twitter"></i></a>
      <a href=""><i class="fab fa-instagram"></i></a>
    </div>
    <div class="links">
      <a href="http://">Join our mailing list</a>
      <a href="http://">Terms and Conditions</a>
      <a href="http://">Privacy Policy</a>
      <a href="http://">Purchase Terms & Conditions</a>
    </div>
    <div class="copyright-block">
      <p>Copyright &copy; Altitude Music Festival 2019</p>
    </div>
  </div>

</footer>
