<header class="main-header"
  *ngIf="toggleSticky === false">
  <div class="container d-flex flex-column justify-content-between">
    <div class="nav-wrapper">
      <a routerLink="home"
        class="brand-logo">
        <img src="assets/images/logo.svg"
          alt="">
        <span class="brand-logo__text">
          <h4>Altitude</h4>
          <p>Music Festival</p>
        </span>

      </a>
      <nav class="nav justify-content-center">
        <a class="nav-link active"
          routerLink='home'
          routerLinkActive="current">Home</a>
        <a class="nav-link active"
          routerLink='what'
          routerLinkActive="current">What</a>
        <a class="nav-link active"
          routerLink='where'
          routerLinkActive="current">Where</a>
        <a class="nav-link"
          routerLink='tickets'
          routerLinkActive="current">Tickets</a>
        <a class="nav-link"
          routerLink='faq'
          routerLinkActive="current">FAQs</a>
      </nav>
    </div>
  </div>
</header>
<header class="main-header sticky"
  @flyInOut
  *ngIf="toggleSticky === true">
  <div class="container d-flex flex-column justify-content-between">
    <div class="nav-wrapper">
      <a routerLink="shome"
        class="brand-logo">
        <img src="assets/images/logo.svg"
          alt="">
        <span class="brand-logo__text">
          <h4>Altitude</h4>
          <p>Music Festival</p>
        </span>

      </a>
      <nav class="nav justify-content-center">
        <a class="nav-link active"
          routerLink='home'
          routerLinkActive="current">Home</a>
        <a class="nav-link active"
          routerLink='what'
          routerLinkActive="current">What</a>
        <a class="nav-link active"
          routerLink='where'
          routerLinkActive="current">Where</a>
        <a class="nav-link"
          routerLink='tickets'
          routerLinkActive="current">Tickets</a>
        <a class="nav-link"
          routerLink='faq'
          routerLinkActive="current">FAQs</a>
      </nav>
    </div>
  </div>
</header>
