<div class="container py-5">
  <div class="row">
    <div class="col-6 offset-sm-3 intro-text">
      <p class="text-center">ALTITUDE Music Festival is a once in a lifetime experience for all to share. An experience
        with the sounds, out
        of this world visuals and high class performances for you to have an unforgettable weekend.</p>

      <hr>
    </div>
  </div>
  <div class="row"
    @fadeInDown>
    <div class="col-sm-4">
      <div class="card ticket-card">
        <h5 class="card-header">BRONZE PASS</h5>
        <!-- <h6 class="card-sub-header">General Admission</h6> -->
        <div class="card-body ticket-card__body">
          <div class="card-text">
            <ul>
              <li>General Admission</li>
              <li>Unlimited entries into and out of event</li>
            </ul>
          </div>
          <h2 class="price-point">MYR 170</h2>
          <a href="#"
            class="btn btn-lg btn-primary">Buy Now!</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card ticket-card">
        <h5 class="card-header">SILVER PASS</h5>
        <!-- <h6 class="card-sub-header">General Admission</h6> -->
        <div class="card-body ticket-card__body">
          <div class="card-text">
            <ul>
              <li>General Admission</li>
              <li>Access to specific viewing areas</li>
              <li>Express lines at bars, vendors and rollercoaster rides</li>
              <li>Unlimited entries into and out of event</li>
            </ul>
          </div>
          <h2 class="price-point">MYR 240</h2>
          <a href="#"
            class="btn btn-lg btn-primary">Buy Now!</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card ticket-card">
        <h5 class="card-header">GOLD PASS</h5>
        <!-- <h6 class="card-sub-header">&nbsp;</h6> -->
        <div class="card-body ticket-card__body">
          <div class="card-text">
            <ul>
              <li>Exclusive viewing areas</li>
              <li>Exclusive experience and access to designated toilet facilities</li>
              <li>Exclusive VIP entrances to the festival grounds and the Main Stage Venue</li>
              <li>Redeemable drinks at festival ground</li>
              <li>Express lines and bars, vendors and rollercoeaster rides</li>
              <li>VIP Only Perks and Services</li>
              <li>Unlimited entries into and out of event</li>
            </ul>
          </div>
          <h2 class="price-point">MYR 380</h2>
          <a href="#"
            class="btn btn-lg btn-primary">Buy Now!</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row py-5">
    <div class="col-sm-4 offset-sm-2">
      <div class="card ticket-card">
        <h5 class="card-header">GIRL CODE PASS</h5>
        <!-- <h6 class="card-sub-header">General Admission</h6> -->
        <div class="card-body ticket-card__body">
          <div class="card-text">
            <ul>
              <li>General Admission</li>
              <li>Valid for 2 females only</li>
              <li>Redeemable drinks at festival ground</li>
              <li>Unlimited entries into and out of event</li>
            </ul>
          </div>
          <h2 class="price-point">MYR 290</h2>
          <a href="#"
            class="btn btn-lg btn-primary">Buy Now!</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card ticket-card">
        <h5 class="card-header">GROUP PASS (Triple Threat)</h5>
        <!-- <h6 class="card-sub-header">General Admission</h6> -->
        <div class="card-body ticket-card__body">
          <div class="card-text">
            <ul>
              <li>General Admission</li>
              <li>Valid for a group of 3 persons</li>
              <li>Unlimited entries into and out of event</li>
            </ul>
          </div>
          <h2 class="price-point">MYR 580</h2>
          <a href="#"
            class="btn btn-lg btn-primary">Buy Now!</a>
        </div>
      </div>
    </div>
  </div>
</div>
