<div class="container py-5">
  <div class="row">
    <div class="col-6 offset-sm-3 intro-text">
      <p class="text-center">ALTITUDE Music Festival is a once in a lifetime experience for all to share. An experience
        with the sounds, out
        of this world visuals and high class performances for you to have an unforgettable weekend.</p>

      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card ticket-card">
        <h5 class="card-header">BRONZE ALL DAY PASS</h5>
        <div class="card-body ticket-card__body">
          <div class="card-text">
            <ul>
              <li>General Admission</li>
              <li>Unlimited entries into and out of event</li>
            </ul>
          </div>
          <a href="#"
            class="btn btn-lg btn-primary">Buy Now!</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card ticket-card">
        <h5 class="card-header">SILVER ALL DAY PASS</h5>
        <div class="card-body ticket-card__body">
          <div class="card-text">
            <ul>
              <li>General Admission</li>
              <li>Unlimited entries into and out of event</li>
            </ul>
          </div>
          <a href="#"
            class="btn btn-lg btn-primary">Buy Now!</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card ticket-card">
        <h5 class="card-header">GOLD ALL DAY PASS</h5>
        <div class="card-body ticket-card__body">
          <div class="card-text">
            <ul>
              <li>General Admission</li>
              <li>Unlimited entries into and out of event</li>
            </ul>
          </div>
          <a href="#"
            class="btn btn-lg btn-primary">Buy Now!</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row py-5">
    <div class="col-sm-4 offset-sm-2">
      <div class="card ticket-card">
        <h5 class="card-header">GIRL CODE PASS</h5>
        <div class="card-body ticket-card__body">
          <div class="card-text">
            <ul>
              <li>General Admission</li>
              <li>Unlimited entries into and out of event</li>
            </ul>
          </div>
          <a href="#"
            class="btn btn-lg btn-primary">Buy Now!</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card ticket-card">
        <h5 class="card-header">GIRL CODE PASS</h5>
        <div class="card-body ticket-card__body">
          <div class="card-text">
            <ul>
              <li>General Admission</li>
              <li>Unlimited entries into and out of event</li>
            </ul>
          </div>
          <a href="#"
            class="btn btn-lg btn-primary">Buy Now!</a>
        </div>
      </div>
    </div>
  </div>
</div>
