<div class="container">
  <div class="content__text"
    @swipeInTrigger>
    <div class="row">
      <div class="col lineup-header">
        <h4>Lineup</h4>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="grid">
          <figure class="effect-milo">
            <img src="assets/images/armin-van-burren.jpg"
              alt=""
              srcset="">
          </figure>
        </div>
      </div>
      <div class="col">
        <div class="grid">
          <figure class="effect-milo">
            <img src="assets/images/armin-van-burren.jpg"
              alt=""
              srcset="">
          </figure>
        </div>
      </div>
      <div class="col">
        <div class="grid">
          <figure class="effect-milo">
            <img src="assets/images/armin-van-burren.jpg"
              alt=""
              srcset="">
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
