  <div class="container">
    <div class="content__text"
      @swipeInTrigger>
      <hr>
      <p>
        ALTITUDE is an annual electronic dance music festival held all over the world, with its grand south-east Asian
        flagship event holding in Tasik Villa International Resort, Lukut, Port Dickson, Malaysia. The event primarily
        features top and renowned electronic dance producers and DJs from around the globe with various sounds from
        beyond the stratosphere.</p>

      <p>ALTITUDE was created with the purpose of utilizing music and art to inspire individuals. In addition to the
        music, individuals can experience the three-dimensional superstructures, colorful, glow-in-the-dark
        environments, and all manner of LED-infused flora and fauna. Part of the unforgettable experience will be the
        interactive art installations scattered throughout ALTITUDE and the thrilling, as well as heart-racing neon-lit
        rollercoaster rides coupled with a host of intense musical shows.</p>

      <p>The goal is ultimately for ALTITUDE to be a place where thousands of people of various nationalities can
        connect, on and off the dance floor. This superpacked one-day event welcomes everyone, not discriminating
        against shape, size, and color. Be ready for an unforgettable surprise.
      </p>
    </div>
  </div>
