<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="display-text-wrapper"
        @fadeInUpTrigger>
        <h2>Let <br> the music <br> elevate <br> you</h2>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-6 d-flex justify-content-center align-items-center">
      <div class="custom-date-wrapper"
        @fadeInTrigger>
        <span>24</span>
        <span>.</span>
        <span>08</span>
        <span>.</span>
        <span>2019</span>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-6 d-flex justify-content-center align-items-center">
      <object data="assets/images/logo.svg"
        type="image/svg+xml"
        class="centered-logo"
        @fadeInTrigger></object>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="info-text d-flex flex-column align-items-center"
        @fadeInTrigger>
        <p>
          The very first south-east Asian edition of ALTITUDE Music Festival is about to be an epic. Coming to Malaysia,
          get ready to
          experience steamy hot electronic music in a three-dimensional way.</p>

        <p>From your hottest international EDM DJs to your favorite songs, it is guaranteed to be an ultimate adventure
          you won't want to miss. Get your general admission tickets or VIP passes for an experience of a lifetime.
          Don't forget, SUMMERTIME IS HERE!</p>

        <button class="btn btn-success btn-lg btn-block cta-button">Buy Festival Tickets</button>
      </div>
    </div>
  </div>
</div>
